*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'RR';
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header__nav{
    background: #3E8989;
}
.header__nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}
.header__nav-list{
    display: flex;
    gap: 30px;

}
.header__nav-link{
    font-family: 'RM';
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.header__nav-link:hover::after{
    content: '';
    display: block;
    height: 3px;
    background: #FFFFFF;
    margin-top: 5px;
    border-radius: 5px;
}


.header__nav-form{
    display: flex;
    max-width: 280px;
    width: 100%;
    padding: 8px 20px;
}
.header__form-input{
    border: none;
    outline: none;
    border-radius: 20px 0px 0px 20px;
    padding-left:  20px;
    font-size: 16px;
    line-height: 19px;
}
.header__form-btn{
    border: none;
    outline: none;
    border-radius: 0px 20px 20px 0px;
    padding: 8px 14px;
    background: #295E5E;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
/* header__nav end */

.header__content{
    background: url(../images/bg.jpg)  no-repeat center /cover;
    height: 800px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header__content-title{
    font-family: 'RSb';
    font-size: 80px;
    line-height: 95px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.header__content-text{
    font-family: 'RM';
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}
.header__content-link{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF; 
    padding: 14px 78px;
    background: #B4436C;
    border-radius: 30px;
    margin-top: 50px;
}
.header__content-link:hover{
    background: #FFFFFF;
    color: #B4436C;
}
/* header end */



